<div class="card mt-3">
  <div class="card-body">
    <div class="header">
      <h3 class="card-title"><%= post.user.name %></h3>
    </div>
    <hr/>
    <div class="header">
      <h5>
        <%= post.title %>
      </h5>
      <p class="card-text"><small class="text-muted">Comments: <%= post.comments.size %>, Likes: <%= post.likes.size %></small></p>
    </div>
    <p class="card-text">
      <%= post.text %>
    </p>
    <div class="card-text d-flex justify-content-end">
      <%= render partial: "partials/likes" %>
    </div>
  </div>
</div>
